body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #192627, #004aad); 
  z-index: -2;
  /* #192627 */
}

.stylenavbar{
  font-family: 'Comforter', cursive;
}

.center {
  width: 900px;
  height: 780px;
  background: linear-gradient(to right, #004aad, #5de0e6);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  border: 2px solid #000;
  color: white;
  padding: 0;
  border-radius: 15px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.center::after, .center::before{
  content: '';
  position: absolute;
  width: 905px;
  height: 785px;
  background-image: conic-gradient(from var(--angle), transparent 90%, white);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 10px;
  border-radius: 15px;
  animation: 3s spin linear infinite;
}
.center::before{
filter: blur(1.5rem);
opacity: 0.5;
}

@keyframes spin {
  from{
    --angle: 0deg;
  }  
  to{
    --angle: 360deg;
  }
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

.accordion {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  outline: none;
  transition: 0.4s;
  flex-grow: 1;
}

.accordion:hover {
  background: #004aad;
  border-radius: 15px;
}

.content {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 0.8s ease, height 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  width: 100%;
}

.content.active {
  opacity: 1;
  height: auto;
  transition: opacity 0.8s ease, height 0.8s ease;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}

.home-leftSide h3 {
  margin: 0 0 10px 0;
}

.home-leftSide span {
  margin-bottom: 15px;
  padding: 10px
}
.home-leftSide button {
  padding: 10px 20px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.home-leftSide a{
  color: inherit;
  text-decoration: none;
}

.home-leftSide button:hover {
  background-color: #005bbb;
}

.home-rightSide{
  object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.profilePhoto{
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 450px;
  height: 710px;
  border-radius: 0px 0px 11px 0px;
}

.experiencia{
  position: relative;
  text-align: justify;
  padding: 50px;
}

.expin{
  padding: 30px 15px 15px 30px; 
}

.experiencia a{
  display: flex;
  color: white;
  text-decoration: none;
}

.experiencia li{
  list-style: none;
}

.infinite-scroll {
  overflow: hidden;
  width: 100%;
}

.infinite-scroll .row{
  display: flex;
  width: calc(14 * 200px); /* Adjust based on the number of items and their width */
  animation: scroll 15s linear infinite;
}

.infinite-scroll .col {
  flex: 0 0 auto;
  width: 200px; /* Adjust based on your item width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 2)); /* Scroll by half of the total width */
  }
}


.unijuiLogo{
  padding: 5px;
  width: 45px;
  height: 40px;
}

.certificates a{
  padding: 5px;
  text-decoration: none;
  color: white;
}

.certificates button{
  padding: 10px 20px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.certificates button:hover {
  background-color: #005bbb;
}

.certificates div{
  padding: 15px;
}

.certificates img{
  width: 80px;
}

.certificates .col:hover{
  box-shadow: inset 0 0 100px #004494;
}

.projetos {
  position: relative;
}

.overflow {
  overflow: auto; /* Permite o scroll */
  position: relative;
  border-radius: 30px; /* Ajusta o arredondamento para cantos suaves */
  width: 100%; /* Ajuste o tamanho conforme necessário */
  height: 400px; /* Altura ajustável */
  padding: 10px; /* Opcional: adiciona um padding interno */
  box-sizing: border-box; /* Garante que o padding e as bordas sejam incluídos nas dimensões */
  
  /* Esconde a barra de rolagem no WebKit (Chrome, Safari) */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
}

/* Esconde a barra de rolagem no WebKit (Chrome, Safari) */
.overflow::-webkit-scrollbar {
  display: none; /* Oculta a barra de rolagem */
}


.projetos p{
  text-align: center;
}

.projetos div{
height: 550px;
}

.projetos img{
  width: 400px;
  border-radius: 15px;
}

.projetos button{
  padding: 10px 20px;
  background-color: #0072ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.projetos button:hover {
  background-color: #005bbb;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form button:active {
  background-color: #004494;
}

/* Responsividade para iPad Mini (768x1025) */
@media screen and (min-width: 706px) and (max-width: 768px) {
  body, html {
    background: linear-gradient(to bottom, #192627, #004aad); 
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
  }

  .center {
    position: relative;
    bottom: 70px;
    width: 700px;
    height: 870px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    left: 0;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .center::after, .center::before {
    content: '';
    position: absolute;
    width: 705px;
    height: 875px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 15px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
  }

  .center::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  .navbar {
    padding: 10px;
    flex-direction: row;
    border-radius: 20px;
  }

  .accordion {
    font-size: 18px;
    padding: 15px;
  }

  .content {
    font-size: 18px;
    padding: 20px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .col {
    margin-bottom: 25px;
    width: 100%;
  }

  .home-leftSide h3 {
    font-size: 24px;
  }

  .home-leftSide button {
    padding: 15px 30px;
    font-size: 20px;
  }

  .home-rightSide {
    height: auto;
    width: 100%;
  }

  .experiencia, .certificates {
    padding: 30px;
    overflow-y: auto;
    max-height: 75vh;
  }

  .expin, .certificates div {
    padding: 30px 25px 25px 30px;
  }

  .infinite-scroll .row {
    display: flex;
    width: calc(14* 200px);
    animation: scroll 15s linear infinite;
    flex-direction: row;
}

  .p1 {
    overflow-x: auto;
    overflow-y: auto !important;
  }

  .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 15px;
    box-sizing: border-box;
  }

  .projetos > div {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .projetos img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }

  .projetos span {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .projetos button {
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 15px;
  }

  .profilePhoto {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}



/* Responsividade para iPhone 14 Pro Max (430x932) */
@media screen and (max-width: 430px) {
  body, html {
    background: linear-gradient(to bottom, #192627, #004aad); 
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
  }

  .center {
    position: relative;
    width: 390px;
    height: 790px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    left: 3px;
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .center::after, .center::before{
    content: '';
    position: absolute;
    width: 397px;
    height: 797px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
  }
  .center::before{
  filter: blur(1.5rem);
  opacity: 0.5;
  }
  
  @keyframes spin {
    from{
      --angle: 0deg;
    }  
    to{
      --angle: 360deg;
    }
  }

  .navbar {
    padding: 6px;
    flex-direction: row;
    border-radius: 15px;
  }

  .accordion {
    font-size: 16px;
    padding: 10px;
  }

  .content {
    font-size: 16px;
    padding: 15px;
  }

  .row {
    flex-direction: column; /* Alinhar os projetos em uma única coluna */
    align-items: center; /* Centralizar os itens na coluna */
  }

  .col {
    margin-bottom: 20px;
    width: 100%; /* Certificar que cada projeto ocupe toda a largura disponível */
  }

  .home-leftSide h3 {
    font-size: 22px;
  }

  .home-leftSide button {
    padding: 12px 24px;
    font-size: 18px;
  }

  .home-rightSide {
    height: auto;
    width: 100%;
  }

  .experiencia, .certificates {
    padding: 25px;
    overflow-y: auto;
    max-height: 80vh; /* Limitar a altura para garantir que ambas caibam na tela */
  }

  .infinite-scroll .row {
    display: flex;
    width: calc(14* 200px);
    animation: scroll 15s linear infinite;
    flex-direction: row;
}

  .expin, .certificates div {
    padding: 25px 20px 20px 25px;
  }

  .p1{
    overflow-x: auto;
    overflow-y: auto !important;
  }

  .projetos {
    display: flex;
    flex-direction: column; /* Alinhar projetos verticalmente */
    align-items: center; /* Centralizar o conteúdo */
    flex-grow: 1; /* Permitir que o contêiner cresça conforme necessário */
    padding: 10px;
    box-sizing: border-box;
  }

  .projetos > div {
    width: 100%; /* Ocupa toda a largura disponível */
    margin-bottom: 20px; /* Espaçamento entre os projetos */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar o conteúdo */
    box-sizing: border-box;
  }

  .projetos img {
    width: 100%; /* Largura total da imagem dentro do div */
    max-height: 300px; /* Limitar a altura da imagem para evitar que saia da tela */
    object-fit: cover;
    border-radius: 15px;
  }

  .projetos span {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .projetos button {
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 10px;
  }

  .profilePhoto {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
}

/* Responsividade para iPhone XR (414x896) */
@media screen and (max-width: 414px) {
  body, html {
    background: linear-gradient(to bottom, #192627, #004aad); 
    height: 860px;
    min-height: 100%; /* Garantir que o corpo preencha toda a altura */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
  }

  .home-leftSide{
    width: 400px;
  }

  .center {
    left: -1px;
    position: relative;
    width: 380px;
    height: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuir o conteúdo igualmente */
    min-height: 100%; /* Garantir que o conteúdo preencha toda a altura */
    box-sizing: border-box; /* Incluir padding e borda no cálculo da altura */
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .center::after, .center::before{
    content: '';
    position: absolute;
    width: 385px;
    height: 805px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
  }
  .center::before{
  filter: blur(1.5rem);
  opacity: 0.5;
  }
  
  @keyframes spin {
    from{
      --angle: 0deg;
    }  
    to{
      --angle: 360deg;
    }
  }

  .navbar {
    padding: 10px;
    flex-direction: row;
    border-radius: 15px;
  }

  .accordion {
    font-size: 16px;
    padding: 5px;
  }

  .content {
    font-size: 16px;
    padding: 15px;
    flex-grow: 1; /* Permitir que o conteúdo cresça para preencher o espaço */
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .col {
    margin-bottom: 20px;
  }

  .home-leftSide h3 {
    font-size: 20px;
  }

  .home-leftSide button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .home-rightSide {
    height: auto;
    width: 100%;
  }

  .experiencia, .certificates {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 65vh;
  }

  .expin, .certificates div {
    padding: 20px 15px 15px 20px;
  }

  .projetos {
    display: flex;
    flex-direction: column; /* Alinhar projetos verticalmente */
    align-items: center; /* Centralizar o conteúdo */
  }

  .projetos div {
    top: -30px;
    height: auto;
    width: 100%; /* Ocupa toda a largura disponível */
    margin-bottom: 20px; /* Espaçamento entre os projetos */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizar o conteúdo */
  }

  .projetos img {
    width: 100%; /* Largura total da imagem dentro do div */
    border-radius: 15px;
  }

  .projetos span {
    width: 100%;
    text-align: center;
  }

  .projetos button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .profilePhoto {
    position: relative;
    width: 340px;
    height: 525px;
    border-radius: 15px;
  }
}


/* Responsividade para iPhone SE (375x667) */
@media screen and (max-width: 375px) {
  body, html{
      background: linear-gradient(to bottom, #192627, #004aad); 
      width: 100%;
      height: auto !important;
      z-index: -2;
  }

  .center {
    position: relative;
    width: 320px;
    height: 640px;
    padding: 5px;
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .center::after, .center::before{
    content: '';
    position: absolute;
    width: 325px;
    height: 645px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
  }
  .center::before{
  filter: blur(1.5rem);
  opacity: 0.5;
  }
  
  @keyframes spin {
    from{
      --angle: 0deg;
    }  
    to{
      --angle: 360deg;
    }
  }


  .navbar {
    padding: 5px !important; /* Reduzir o padding */
    border-radius: 15px;
  }

  .accordion {
    font-size: 14px; /* Diminuir o tamanho da fonte */
    padding: 8px; /* Reduzir o padding */
  }

  .content {
    font-size: 14px; /* Diminuir o tamanho da fonte */
    padding: 10px; /* Adicionar padding interno */
  }

  .row {
    flex-direction: column; /* Alterar direção para coluna */
  }

  .col {
    margin-bottom: 15px; /* Adicionar espaçamento inferior */
  }

  .home-leftSide h3 {
    font-size: 18px; /* Ajustar o tamanho da fonte */
  }

  .home-leftSide button {
    padding: 8px 16px; /* Reduzir padding do botão */
    font-size: 14px; /* Ajustar tamanho da fonte */
  }

  .home-rightSide {
    height: auto; /* Deixar a altura automática */
    width: 100%; /* Ajustar a largura para ocupar todo o espaço disponível */
  }

  .experiencia {
    padding: 20px; /* Reduzir padding interno */
  }

  .expin {
    padding: 20px 10px 10px 20px; /* Reduzir padding interno */
  }

  .projetos div {
    height: auto; /* Deixar a altura automática */
  }

  .projetos img {
    width: 300px; /* Ajustar largura da imagem */
  }

  .projetos span{
    width: 300px;
  }

  .projetos button {
    padding: 8px 16px; /* Reduzir padding do botão */
    font-size: 14px; /* Ajustar tamanho da fonte */
  }

  .profilePhoto{
    position: relative;
    width: 100%; /* Ajustar a largura para ocupar todo o espaço disponível */
    height: auto; 
    border-radius: 15px;
  }

}

/* Responsividade para iPad Air (820x1180) */
@media screen and (min-width: 770px) and (max-width: 900px) {
  body, html {
    background: linear-gradient(to bottom, #192627, #004aad); 
    height: 1180px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
  }

  .center {
    position: relative;
    width: 780px;
    height: 850px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    left: 0;
  }

  .center h1 {
    height: 130px;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .center::after, .center::before {
    content: '';
    position: absolute;
    width: 785px;
    height: 855px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 20px;
    border-radius: 20px;
    animation: 3s spin linear infinite;
  }

  .center::before {
    filter: blur(1.5rem);
    opacity: 0.5;
  }

  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }

  .navbar {
    padding: 15px;
    flex-direction: row;
    border-radius: 20px;
  }

  .accordion {
    font-size: 20px;
    padding: 20px;
  }

  .content {
    font-size: 20px;
    padding: 25px;
  }

  .row {
    align-items: center;
  }

  .col {
    margin-bottom: 30px;
    width: 100%;
  }

  .home-leftSide h3 {
    font-size: 26px;
  }

  .home-leftSide div{
    width: 140px;
  }

  .home-leftSide button {
    padding: 18px 35px;
    font-size: 22px;
  }

  .home-rightSide {
    height: auto;
    width: 100%;
  }

  .experiencia, .certificates {
    padding: 35px;
    overflow-y: auto;
    max-height: 65vh;
  }

  .expin, .certificates div {
    padding: 35px 30px 30px 35px;
  }

  .p1 {
    overflow-x: auto;
    overflow-y: auto !important;
  }

  .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
  }

  .projetos > div {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .projetos img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    border-radius: 20px;
  }

  .projetos span {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }

  .projetos button {
    padding: 18px 35px;
    font-size: 22px;
    margin-top: 20px;
  }

  .profilePhoto {
    position: relative;
    height: auto;
    border-radius: 20px;
  }
}
