/* Responsividade para iPhone 14 Pro Max (430x932) */
@media screen and (max-width: 430px) {
  body, html {
    background: linear-gradient(to bottom, #192627, #080b0f);
    max-height: fit-content;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
  }

  .center {
    position: relative;
    width: 390px;
    height: 930px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    left: 3px;
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .center::after, .center::before{
    content: '';
    position: absolute;
    width: 397px;
    height: 797px;
    background-image: conic-gradient(from var(--angle), transparent 90%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
  }
  .center::before{
  filter: blur(1.5rem);
  opacity: 0.5;
  }
  
  @keyframes spin {
    from{
      --angle: 0deg;
    }  
    to{
      --angle: 360deg;
    }
  }

  .navbar {
    padding: 6px;
    flex-direction: row;
    border-radius: 15px;
  }

  .accordion {
    font-size: 16px;
    padding: 10px;
  }

  .content {
    margin-top: 30px;
    font-size: 16px;
    padding: 15px;
  }

  .row {
    margin: auto;
    flex-direction: column; /* Alinhar os projetos em uma única coluna */
    align-items: center; /* Centralizar os itens na coluna */
  }

  .col {
    margin-bottom: 20px;
    width: 100%; /* Certificar que cada projeto ocupe toda a largura disponível */
  }

  .home-leftSide h3 {
    font-size: 22px;
  }

  .home-leftSide button {
    padding: 12px 24px;
    font-size: 18px;
  }

  .home-rightSide {
    height: auto;
    width: 100%;
  }

  .experiencia, .certificates {
    padding: 25px;
    overflow-y: auto;
    max-height: 80vh; /* Limitar a altura para garantir que ambas caibam na tela */
  }

  .expin, .certificates div {
    padding: 25px 20px 20px 25px;
  }

  .infinite-scroll {
    overflow: hidden;
    width: 100%;
  }
  
  .infinite-scroll .row {
    display: flex;
    width: calc(10 * 200px); /* Ajuste baseado no número de itens e sua largura */
    animation: scroll 15s linear infinite; /* Ajuste a duração da animação */
  }
  
  .infinite-scroll .row-reverse {
    display: flex;
    width: calc(10 * 200px); /* Ajuste baseado no número de itens e sua largura */
    animation: scroll-reverse 10s linear infinite; /* Animação da direita para esquerda */
  }
  
  .infinite-scroll .col {
    flex: 0 0 auto;
    width: 200px; /* Largura de cada item */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0); /* Começa do início */
    }
    to {
      transform: translateX(calc(-100%)); /* Role por toda a largura */
    }
  }
  
  @keyframes scroll-reverse {
    from {
      transform: translateX(calc(-100%)); /* Começa no final */
    }
    to {
      transform: translateX(0); /* Role de volta para o início */
    }
  }
  
  .p1 {
    overflow-x: auto;
    overflow-y: auto !important;
  }

  .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 15px;
    box-sizing: border-box;
    max-height: fit-content/* Limitar a altura para garantir que os projetos caibam na tela */
  }

  .projetos > div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .projetos img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 20px;
  }

  .projetos span {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .projetos button {
    padding: 12px 24px;
    font-size: 18px;
    margin-top: 10px;
  }

  .profilePhoto {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .btn-language {
    padding: 10px 20px;
    top: 2px;
    right: -30px;
    font-size: 16px;
    background-color: #0072ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  } 
}